# =========================
# Source Code Structure
# =========================

# Core source code
src/

# Build dependencies system
depends/

# Documentation
doc/

# Tests (unit + functional)
test/

# Configs / assets / scripts
share/

# =========================
# Project files
# =========================

README.md
LICENSE
.gitignore

# =========================
# Build system (Autotools)
# =========================

configure.ac
Makefile.am
autogen.sh
